name: test262
on: 
  - workflow_dispatch
  - push
env:
  DEBUG: "this:*"
  HERMES_RELEASE: RNv0.71.0
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        shard:
          # Ensure SHARD_TOTAL is updated with the number of shards declared here
          [0]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --immutable --immutable-cache
      - name: Run test262
        env:
          SHARD_INDEX: ${{matrix.shard}}
          # Number of entries in test.strategy.matrix.shard
          # We could use ${{ strategy.job-total }} but that breaks once we introduce more dimensions beyond "shard" (e.g. architecture)
          SHARD_TOTAL: 20
        run: |
          # --threads with more than 1 produced unstable results i.e. some test results were not reported
          yarn test262-harness \
            --host-type hermes \
            --host-path "hermes-releases/$HERMES_RELEASE/hermes" \
            --preprocessor scripts/test/eshostPreprocessor.js \
            --reporter json \
            --reporter-keys result,relative,attrs.features,scenario \
            --test262-dir test262 \
            --threads 1 \
            --timeout 60000 \
            "test262/test/**/*.js" > test262-report.${{matrix.shard}}.json
      - name: Archive test262 report
        uses: actions/upload-artifact@v3
        with:
          name: test262-report-${{matrix.shard}}
          path: test262-report.${{matrix.shard}}.json
  postprocess:
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: false
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --immutable --immutable-cache

      - name: Download test262 report shards
        id: download-shards
        uses: actions/download-artifact@v3
        with:
          path: test262-report-shards
      - name: Postprocess shards
        run: node scripts/test/reportPostprocess.js ${{steps.download-shards.outputs.download-path}} "hermes-releases/$HERMES_RELEASE/report"
      - name: Archive processed test262 report
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: hermes-releases/${{env.HERMES_RELEASE}}/report
      - name: Display report diff
        run: git diff -- hermes-releases/${{env.HERMES_RELEASE}}/report
