name: test262
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        shard:
          # Ensure SHARD_TOTAL is updated with the number of shards declared here
          [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --immutable --immutable-cache
      - name: Run test262
        env:
          DEBUG: "this:*"
          SHARD_INDEX: ${{matrix.shard}}
          # Number of entries in test.strategy.matrix.shard
          # We could use ${{ strategy.job-total }} but that breaks once we introduce more dimensions beyond "shard" (e.g. architecture)
          SHARD_TOTAL: 20
        run: |
          # --threads matches number of cores available in runner
          # See https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
          yarn test262-harness \
            --host-type hermes \
            --host-path hermes-releases/RNv0.71.0/hermes \
            --preprocessor scripts/test/eshostPreprocessor.js \
            --reporter json \
            --reporter-keys result,relative,attrs.features,scenario \
            --test262-dir test262 \
            --threads 2 \
            "test262/test/**/*.js" > test262-report.${{matrix.shard}}.json
      - name: Archive test262 report
        uses: actions/upload-artifact@v3
        with:
          name: test262-report-${{matrix.shard}}
          path: test262-report.${{matrix.shard}}.json
  postprocess:
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --immutable --immutable-cache

      - name: Get test262 report shards
        uses: actions/download-artifact@v3
      - name: Display structure of downloaded files
        run: ls -R
